<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Last 3 Contacts
    </div>
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created On</th>
      </thead>
      <tbody>
        <%- @contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.first_name %> <%= contact.last_name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.created_at.strftime("%d %b. %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-body text-center">
      <%= link_to '...', contacts_path %>
    </div>
  </div>
</div>
