<h2 class='pull-left'>Admin</h2>

<%= render 'admin/shared/nav' %>

<hr>

<div class="row">
  <div class="col-md-6" data-samurai-hook="admin_dashboard">
    <div class="panel panel-primary">
      <div class="panel-heading">Last 3 Users</div>
      
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Email</th>
          <th>Signed Up</th>
        </thead>
        <tbody>
          <%- Samurai::User.ordered.limit(3).each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.email %></td>
              <td><%= user.created_at.strftime("%d %b. %Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="panel-body text-center">
        <%= link_to '...', samurai.admin_users_path %>
      </div>
    </div>
  </div>
</div>