<div class="row">
  <div class="col-md-8">
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@task.errors.count, "error") %>
          prohibited this task from being saved:
        </h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :content, class: "control-label" %>
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :user_id, class: "control-label" %>
      <%= f.select :user_id, Samurai::User.all.collect { |p| [p.email, p.id] }, { selected: current_user.id },
        class: "form-control" %>
    </div>

    <% if Samurai::Core.available?(:contacts) %>
      <div class="form-group">
        <%= f.label :contact_id, class: "control-label" %>
        <%= f.select :contact_id, Samurai::Contacts::Contact.all.collect { |p| [ p.email, p.id ] },
          { allow_blank: true }, class: "form-control" %>
      </div>
    <% end %>
  </div>
</div>
