<!DOCTYPE html>
<html>
<head>
  <title>Core</title>
  <%= stylesheet_link_tag    "samurai/application", media: "all" %>
  <%= javascript_include_tag "samurai/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'SamuraiCRM', samurai.root_path, class: 'navbar-brand' %>
      </div>

      <%- if current_user %>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="<%= active(samurai.root_path) %>">
              <%= link_to 'Home', samurai.root_path %>
            </li>
            <li class="<%= active(samurai.edit_user_registration_path) %>">
              <%= link_to 'My Account', samurai.edit_user_registration_path %>
            </li>
            <%- if current_user.admin? %>
              <li class="<%= active(samurai.admin_path, :inclusion) %>">
                <%= link_to "Admin", samurai.admin_path %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Logout', samurai.destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>

  <div class='container' role='main'>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key.to_sym) %>"><%= value %></div>
    <% end %>

    <div class='jumbotron'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
