<div class="row">
  <div class="col-md-8">
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:
        </h2>
      
        <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name, class: "control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :company, class: "control-label" %>
      <%= f.text_field :company, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone, class: "control-label" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
  </div>
</div>