<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Last 3 Tasks
    </div>
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Created On</th>
      </thead>
      <tbody>
        <%- @tasks.each do |task| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.created_at.strftime("%d %b. %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-body text-center">
      <%= link_to '...', tasks_path %> </div>
    </div>
  </div>
</div>
